**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
api/.vscode
api/src/CNC.Api/bin
api/src/CNC.Api/obj

# Logs
frontend/cncwebapp/logs
frontend/cncwebapp/*.log
frontend/cncwebapp/npm-debug.log*
frontend/cncwebapp/yarn-debug.log*
frontend/cncwebapp/yarn-error.log*
frontend/cncwebapp/pnpm-debug.log*
frontend/cncwebapp/lerna-debug.log*

frontend/cncwebapp/node_modules
frontend/cncwebapp/dist
frontend/cncwebapp/dist-ssr
frontend/cncwebapp/*.local

# Editor directories and files
frontend/cncwebapp/.vscode/*
frontend/cncwebapp/!.vscode/extensions.json
frontend/cncwebapp/.idea
frontend/cncwebapp/.DS_Store
frontend/cncwebapp/*.suo
frontend/cncwebapp/*.ntvs*
frontend/cncwebapp/*.njsproj
frontend/cncwebapp/*.sln
frontend/cncwebapp/*.sw?


LICENSE
README.md
